# Intentionally vulnerable dependencies for Snyk PoC

Flask==0.12
requests==2.19.0
PyYAML==5.3
boto3==1.9.0

# Use older Django that actually matches CVEs
Django==4.2.27

Jinja2==3.1.6
SQLAlchemy==1.3.0
Werkzeug==0.14.1
Markdown==2.6.8
paramiko==2.4.2
cryptography==2.3
pytest==3.8.0
python-dateutil==2.6.0

# ⚠️ REMOVE these (cause CI failure)
# lxml==3.7.0
# celery==4.1.0

# ⚠️ REMOVE Snyk-pinned transitive deps
# idna>=3.7
# setuptools>=78.1.1
# sqlparse>=0.5.4
# zipp>=3.19.1
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.25.9 # not directly required, pinned by Snyk to avoid a vulnerability
