name: Snyk PoC Scan

on:
  workflow_dispatch:

jobs:
  snyk_file_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Downgrade pip
        run: python -m pip install "pip<24.1"

      - name: Install PoC dependencies
        run: |
          pip install --no-build-isolation --ignore-installed \
            Flask==0.12 \
            requests==2.19.0 \
            PyYAML==5.3 \
            boto3==1.9.0 \
            Django==2.2.0 \
            Jinja2==2.10 \
            SQLAlchemy==1.3.0 \
            Werkzeug==0.14.1 \
            Markdown==2.6.8 \
            paramiko==2.4.2 \
            cryptography==2.3 \
            pytest==3.8.0 || true

      - name: Set up Snyk CLI
        uses: snyk/actions/setup@master

      - name: Run Snyk Scan
        run: snyk test --file=synckscan-demo/vulcode/requirements.txt --package-manager=pip --json-file-output=snyk-report.json
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Monitor Project in Snyk
        run: snyk monitor --file=synckscan-demo/vulcode/requirements.txt --package-manager=pip
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Upload Snyk Report
        uses: actions/upload-artifact@v4
        with:
          name: snyk-report
          path: snyk-report.json
