- name: Set up Python
  uses: actions/setup-python@v5
  with:
    python-version: "3.10"

- name: Downgrade pip
  run: python -m pip install "pip<24.1"

- name: Install dependencies (PoC-safe)
  run: |
    pip install --ignore-installed --no-deps -r vulcode/requirements.txt || true

- name: Set up Snyk CLI
  uses: snyk/actions/setup@master
  with:
    snyk-version: latest

- name: Run Snyk Scan
  run: snyk test --file=vulcode/requirements.txt --package-manager=pip --json-file-output=snyk-report.json
  env:
    SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

- name: Monitor Project in Snyk
  run: snyk monitor --file=vulcode/requirements.txt --package-manager=pip
  env:
    SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
